html, body {
    box-sizing: border-box;
    height: 100%;
   
}

ul {
    display: flex;
    gap: 15px;
}

li.logo {
    flex-grow: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.rectangle {
height: 200px;
width: 300px;
background-color: orange;
display: flex;
justify-content: center;
align-items: center;
}